html {
  background: white;
}

body {
  margin: 0;
}

#overlay {
  position: absolute;
  top: 0;
  left: 0;
}

.artboard {
  width: 100%;
}

.controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.controls.master {
  justify-content: space-between;
  margin: 5px 10px;
}

.upper {
  display: flex;
  width: 100%;
}

.left {
  position: relative;
  background-color: #eeeeee;
  flex: 1 1 100%;
  max-width: 80vh;
}

.right {
  padding: 0 10px;
  flex: 1 0 300px;
}

.tabs {
  display: flex;
}

.config {}
